<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <section class="home_page">
        <section class="header">
            <div class="navbar">
                <div class="logo">
                    <h1>Logo</h1>
                </div>
                <div class="marquee">
                    <marquee behavior="scroll" direction="left"><h1>Wlcome To My Milk Dearry</h1></marquee>
                </div>
                <div class="nav_list">
                    <ul id="nav_list_option">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="/signup">Signup</a></li>
                    </ul>

                </div>
            </div>
        </section>
        <section class="main"></section>
        <section class="footer"></section>
    </section>
</body>

</html>